html {
  scroll-behavior: smooth;
}

body {
  font-family: "General Sans", sans-serif;
  overflow-x: hidden;
}

@font-face {
  font-family: "General Sans";
  src: url("/src/assets/Fonts/Variable/GeneralSans-Variable.ttf")
      format("truetype"),
    url("/src/assets/Fonts/WEB/fonts/GeneralSans-Variable.woff") format("woff"),
    url("/src/assets/Fonts/WEB/fonts/GeneralSans-Variable.woff2")
      format("woff2");
  font-style: normal;
}

.next {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.previous {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.previous > span {
  transform: rotate(270deg);
}
